body{
  margin: 60px 0 0 0 ;
}

#nav{
  background-color: #C51F28;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  padding: 10px 40px;
  position: fixed;
  top: 0;
  width: 100vw;
  gap: 35vw;
}

#logo{
  color: white !important;
  font-size: 20px;
  font-weight: 600;
  font-family: monospace;
  text-decoration: none !important;
  position: relative;
  right: 20px;
}

.links{
  width: 25vw;
  display: flex;
  justify-content: space-between;
}

.index-pokes{
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0 100px;
}

.links a{
  color: white !important;
    text-decoration: none !important;
    font-family: monospace;
}

.poke-card{
  background-color: bisque;
  width: 150px;
  height: 250px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  margin: 30px;
}

#index-title{
  width: 100vw;
  text-align: center;
  font-family: monospace;
}

.random{
  display: flex;
  align-items: center;
  justify-content: center;
}
