<form action="/login" method="POST">
  <label for="name-input">Name</label>
  <input id="name-input" type="text" name="name">

  <label for="email-input">Email</label>
  <input id="email-input" type="email" name="email">

  <label for="password-input">Password</label>
  <input id="password-input" type="password" name="password">

  <button type="submit">Send</button>
</form>
