<form action="/display-user" method="GET">
  <label for="name-input">Name</label>
  <input id="name-input" type="text" name="name">

  <label for="age-input">Age</label>
  <input id="age-input" type="number" name="age">

  <label for="favourite-food-input">Favourite food</label>
  <input id="favourite-food-input" type="text" name="favourite-food">

  <button type="submit">Send</button>
</form>
