<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Pokemon APP</title>
</head>
<body>
  <nav id="nav">
    <a id="logo" href="/">POKEAPP</a>
    <div class="links">
      <a href="/random">Random</a>
      <a href="/fire">Fire</a>
      <a href="/ghost">Ghost</a>
    </div>
  </nav>
  {{{ body }}}
  {{!-- <footer id="foot">
    <p>Made by the best class of IronHack</p>
    <a href="">Shop Now!!</a>
  </footer> --}}
</body>
</html>
