<div class="poke-card">
  <img src="{{this.sprites.front_default}}" alt=''>
  <h3>{{this.name}}</h3>
  <p> Weight: {{this.weight}}</p>
  <p>Types: {{this.types.0.type.name}}</p>

{{!-- To acces an array in handlebars --- . --}}
</div>
