<h1>Players:</h1>

<h3>My Players</h3>
<div class="players">
  {{#each myT}}
    {{> playerCard this}}
  {{/each}}
</div>


<h3>Jose players</h3>
<div class="players">
  {{#each jT}}
    {{> playerCard this}}
  {{/each}}
</div>
